
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


SET IDENTITY_INSERT [dbo].[PROVINCIAS] OFF
 GO
SET IDENTITY_INSERT [dbo].[DEPARTAMENTOS] OFF
 GO
SET IDENTITY_INSERT [dbo].[LOCALIDADES] OFF
 GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[PROVINCIAS]') AND type in (N'U'))
BEGIN
DROP TABLE DBO.PROVINCIAS
END
BEGIN
CREATE TABLE [PROVINCIAS](
	[ID_PROVINCIA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_PROVINCIA] PRIMARY KEY CLUSTERED 
(
	[ID_PROVINCIA] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [DEPARTAMENTOS]    Script Date: 03/30/2008 07:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[DEPARTAMENTOS]') AND type in (N'U'))
BEGIN
DROP TABLE DBO.DEPARTAMENTOS
END
GO
CREATE TABLE [DEPARTAMENTOS](
	[ID_DEPARTAMENTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_PROVINCIA] [int] NOT NULL,
	[NOMBRE] [nvarchar](250) NOT NULL,
	[PESO] [int] NULL DEFAULT 99,
 CONSTRAINT [PK_DEPARTAMENTO] PRIMARY KEY CLUSTERED 
(
	[ID_DEPARTAMENTO] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [LOCALIDADES]    Script Date: 03/30/2008 07:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[LOCALIDADES]') AND type in (N'U'))
BEGIN
DROP TABLE LOCALIDADES
END
CREATE TABLE [LOCALIDADES](
	[ID_LOCALIDAD] [int] IDENTITY(1,1) NOT NULL,
	[ID_DEPARTAMENTO] [int] NOT NULL,
	[NOMBRE] [nvarchar](250) NOT NULL,
	[PESO] [int] NULL DEFAULT 99,
 CONSTRAINT [PK_LOCALIDAD] PRIMARY KEY CLUSTERED 
(
	[ID_LOCALIDAD] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END



SET NOCOUNT ON
 
SET IDENTITY_INSERT [dbo].[PROVINCIAS] on
GO
 
 
PRINT 'Inserting values into [PROVINCIAS]'
SET IDENTITY_INSERT [dbo].[PROVINCIAS] ON
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT INTO [PROVINCIAS] ([ID_PROVINCIA],[NOMBRE])VALUES(1,'BUENOS AIRES')
INSERT INTO [PROVINCIAS] ([ID_PROVINCIA],[NOMBRE])VALUES(2,'CATAMARCA')
INSERT INTO [PROVINCIAS] ([ID_PROVINCIA],[NOMBRE])VALUES(3,'CHACO')

PRINT 'Done'
 
 
SET IDENTITY_INSERT [dbo].[Provincias] OFF
GO
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
SET IDENTITY_INSERT [dbo].[DEPARTAMENTOS] ON
GO
 
 
PRINT 'Inserting values into [Departamentos]'

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT INTO [DEPARTAMENTOS] ([ID_DEPARTAMENTO],[ID_PROVINCIA],[NOMBRE])VALUES(1,1,'AZUL')
INSERT INTO [DEPARTAMENTOS] ([ID_DEPARTAMENTO],[ID_PROVINCIA],[NOMBRE])VALUES(2,1,'PUAN')
INSERT INTO [DEPARTAMENTOS] ([ID_DEPARTAMENTO],[ID_PROVINCIA],[NOMBRE])VALUES(3,1,'LA MATANZA')

PRINT 'Done'
 
 
SET IDENTITY_INSERT [dbo].[DEPARTAMENTOS] OFF
GO
SET NOCOUNT OFF
--INSERTs generated by 'sp_generate_inserts' stored procedure written by Vyas
--Build number: 22
--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com
--http://vyaskn.tripod.com
 
SET NOCOUNT ON
 
SET IDENTITY_INSERT [dbo].[LOCALIDADES] ON
GO
 
 
PRINT 'Inserting values into [LOCALIDADES]'
SELECT * FROM LOCALIDADES
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT INTO [LOCALIDADES] ([ID_LOCALIDAD],[ID_DEPARTAMENTO],[NOMBRE])VALUES(1,1,'16 DE JULIO')
INSERT INTO [LOCALIDADES] ([ID_LOCALIDAD],[ID_DEPARTAMENTO],[NOMBRE])VALUES(2,2,'17 DE AGOSTO')
INSERT INTO [LOCALIDADES] ([ID_LOCALIDAD],[ID_DEPARTAMENTO],[NOMBRE])VALUES(3,3,'20 DE JUNIO')

 
 
SET IDENTITY_INSERT [dbo].[LOCALIDADES] OFF
GO
SET NOCOUNT OFF




select * from clientes